.sider 
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Trang tổng quan
      li 
        a(href=`${prefixAdmin}/category`) Danh mục khoá học
      li 
        a(href=`${prefixAdmin}/courses`) Danh sách khoá học
      li 
        a(href=`${prefixAdmin}/role`) Nhóm quyền
      li 
        a(href=`${prefixAdmin}/admin`) Phân quyền